.modal-region {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1500;
}
.modal-region.ng-enter, .modal-region.ng-enter .modal, .modal-region.ng-leave, .modal-region.ng-leave .modal {
  transition: all 0.5s;
}
.modal-region.ng-enter.ng-enter, .modal-region.ng-enter.ng-enter .modal, .modal-region.ng-leave.ng-enter, .modal-region.ng-leave.ng-enter .modal {
  opacity: 0;
}
.modal-region.ng-enter.ng-enter-active, .modal-region.ng-enter.ng-enter-active .modal, .modal-region.ng-leave.ng-enter-active, .modal-region.ng-leave.ng-enter-active .modal {
  opacity: 1;
}
.modal-region.ng-enter.ng-leave, .modal-region.ng-enter.ng-leave .modal, .modal-region.ng-leave.ng-leave, .modal-region.ng-leave.ng-leave .modal {
  opacity: 1;
}
.modal-region.ng-enter.ng-leave-active, .modal-region.ng-enter.ng-leave-active .modal, .modal-region.ng-leave.ng-leave-active, .modal-region.ng-leave.ng-leave-active .modal {
  opacity: 0;
}
