.panel-relative {
  position: relative;
}

.box {
  height: 50px;
  width: 10px;
  margin: 5px;

  position: absolute;
  left: -10px;
  top: 10px;
}

.box-danger {
  border: 1px solid #ff4242;
  background-color: #ff4242;
}

.box-darkorange {
  border: 1px solid darkorange;
  background-color: darkorange;
}

.box-green {
  border: 1px green ;
  background-color: green;
}
