<div class="dropdown">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" ng-controller="NavigationItemController" ng-class="item.classes">
    {{item.title}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="subItem in item.items" ng-controller="NavigationItemController">
      <a ng-click="isAbsolute(subItem.url) || Actions.do(subItem.action || subItem.url)" ng-attr-href="{{isAbsolute(subItem.url) ? subItem.url : '#'}}">{{subItem.title}}</a>
    </li>
  </ul>
</div>
