<div class="modal-wrapper" ng-class="row.classes">

  <div class="modal show panel-{{panel.name}}" ng-repeat="panel in panels[name] | orderBy:'weight'" ng-controller="ModalController" ng-class="panel.classes">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" ng-if="headerTemplate" ng-include="headerTemplate"></div>

        <div class="modal-title" ng-if="panel.classes.indexOf('modal-alert') > -1">
          {{modalTitle}}
        </div>

        <div class="modal-body" ng-include="template"></div>

        <div ng-class="panel['footer-classes']" ng-if="footerTemplate" ng-include="footerTemplate"></div>
      </div>
    </div>
  </div>

  <div class="modal-backdrop fade in"></div>
</div>
